.container{
    background-color: rgb(183, 229, 255);
    border-radius: 2px;
    width: auto;
    padding: 10px;
}

.question {
    color: blueviolet;
}

.next{
    background-color: black;
    color: aqua;
}

.buttonsE {
    background-color: rgb(75, 0, 0);
    color: red;
}

.buttonsC {
    background-color: rgb(0, 58, 14);
    color: rgb(0, 255, 98);
}